{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'Hub groups'|trans %}

{% block navButtons %}
    {% if resource_granted('atol_hub.group_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('atol_hub.hub_group_create'),
                'entity_label': 'Hub group'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}